<!-- ./web_app/templates/base.html -->
<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Home{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block body %}
{% block header %}
<div class="header">
    <div class="dropdown">
        <button class="dropdown-button">Menu</button>
        <div class="dropdown-menu">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('job_applications') }}">Job</a>
            <a href="{{ url_for('todo_and_habits') }}">Todo</a>
            <a href="#">Settings</a>
        </div>
    </div>
    <div class="title">
        <h1>Keep Up</h1>
    </div>
    <div class="sign-in">
        <form>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}
{% block calendar %}
<div class="calendar-container">
    <div class="calendar-header-container">
        {% if session.month_display %}
        <div class="calendar-header">
            <form action="{{ url_for('prev_cal') }}" method="POST">
                <button type="submit">&lt</button>
            </form>
            <p>{{ month_name }} {{ year }}</p>
            <form action="{{ url_for('next_cal') }}" METHOD="POST">
                <button type="submit">&gt</button>
            </form>
        </div>
        {% else %}
        <div class="calendar-header">
            <form action="{{ url_for('prev_cal') }}" method="POST">
                <button type="submit">&lt</button>
            </form>
            <p>{{ year }}</p>
            <form action="{{ url_for('next_cal') }}" METHOD="POST">
                <button type="submit">&gt</button>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="calendar">
        <div class="day-name">
            <p>Mon</p>
            <p>Tue</p>
            <p>Wed</p>
            <p>Thu</p>
            <p>Fri</p>
            <p>Sat</p>
            <p>Sun</p>
        </div>
        {% if session.month_display %}
        <div class="calendar-body-month" style="grid-template-columns: repeat({{ num_of_weeks }}, 30px);">
            {% for weekday_row in month_layout %}
            {% for day in weekday_row %}
            {% if day == 0 %}
            <div class="hidden">
                <div class="hidden-day"></div>
            </div>
            {% else %}
            <div class="visible">
                {% set cell_date = day ~ '/' ~ month_num ~ '/' ~ year %}
                {% if current_day == day and current_month == month_num and current_year == year %}
                <form action="{{ url_for('select_date') }}" class="current-day-cell" method="POST">
                    <input type="hidden" name="select_date" value="{{ day }}/{{ month_num }}/{{ year }}">
                    <button type="submit" class="day-cell-button">
                        <span class="day-info" style="border-radius: 5px;">{{ day }}/{{ month_num }}/{{ year }}</span>
                    </button>
                </form>
                {% elif cell_date == session.select_date %}
                <form action="{{ url_for('select_date') }}" class="selected-day-cell" method="POST">
                    <input type="hidden" name="select_date" value="{{ day }}/{{ month_index }}/{{ year }}">
                    <button type="submit" class="day-cell-button">
                                <span class="day-info"
                                      style="border-radius: 2px;">{{ day }}/{{ month_num }}/{{ year }}</span>
                    </button>
                </form>
                {% else %}
                <form action="{{ url_for('select_date') }}" class="day-cell" method="POST">
                    <input type="hidden" name="select_date" value="{{ day }}/{{ month_num }}/{{ year }}">
                    <button type="submit" class="day-cell-button">
                        <span class="day-info" style="border-radius: 5px;">{{ day }}/{{ month_num }}/{{ year }}</span>
                    </button>
                </form>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
        {% else %}
        <div class="calendar-body-year">
            {% for layout_month in year_layout %}
            {% set month_index = loop.index %}
            <div class="year-month">
                <div class="year-month-grid" style="grid-template-columns: repeat({{ layout_month[0]|length }}, 15px);">
                    {% for weekday_row in layout_month %}
                    {% for day in weekday_row %}
                    {% if day == 0 %}
                    <div class="hidden-year">
                        <div class="hidden-day-year"></div>
                    </div>
                    {% else %}
                    <div class="visible-year">
                        {% set cell_date = day ~ '/' ~ month_index ~ '/' ~ year %}
                        {% if current_day == day and current_month == month_index and current_year == year %}
                        <form action="{{ url_for('select_date') }}" class="current-day-cell-year" method="POST">
                            <input type="hidden" name="select_date" value="{{ day }}/{{ month_index }}/{{ year }}">
                            <button type="submit" class="day-cell-button">
                                <span class="day-info"
                                      style="border-radius: 2px;">{{ day }}/{{ month_num }}/{{ year }}</span>
                            </button>
                        </form>
                        {% elif cell_date == session.select_date %}
                        <form action="{{ url_for('select_date') }}" class="selected-day-cell-year" method="POST">
                            <input type="hidden" name="select_date" value="{{ day }}/{{ month_index }}/{{ year }}">
                            <button type="submit" class="day-cell-button">
                                <span class="day-info"
                                      style="border-radius: 2px;">{{ day }}/{{ month_num }}/{{ year }}</span>
                            </button>
                        </form>
                        {% else %}
                        <form action="{{ url_for('select_date') }}" class="day-cell-year" method="POST">
                            <input type="hidden" name="select_date" value="{{ day }}/{{ month_index }}/{{ year }}">
                            <button type="submit" class="day-cell-button">
                                <span class="day-info"
                                      style="border-radius: 2px;">{{ day }}/{{ month_index }}/{{ year }}</span>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <div class="month-name" style="width: {{ (layout_month[0]|length * 15) - 5 }}px">
                        {% set months_nums = {
                        1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr',
                        5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug',
                        9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'
                        }
                        %}
                        <p>{{ months_nums[month_index] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="calendar-header-container">
        {% if session.month_display %}
        <form action="{{ url_for('year_display') }}" method="POST">
            <div class="month-year">
                <button type="submit">Year</button>
            </div>
        </form>
        {% else %}
        <form action="{{ url_for('month_display') }}" method="POST">
            <div class="month-year">
                <button type="submit">Month</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block todo %}
<div class="todo-container">
    <div class="todo-title">
        <form action="{{ url_for('collapse_todo') }}" method="POST">
            <h2>
                <button type="submit">Todo List
                    {% if session.collapse_todo %}
                    <p>↲</p>
                    {% else %}
                    <p>↴</p>
                    {% endif %}
                </button>
            </h2>
        </form>
    </div>
    {% if session.collapse_todo %}
    <div class="todo_list" style="display: none;">
        {% else %}
        <div class="todo_list">
            {% endif %}
            {% if not todo_list %}
            <p>You have no tasks, add one to get started.</p>
            {% else %}
            <ul>
                {% for id, task in todo_list.items() %}
                <li class="task">
                    <div class="task-container">
                        <div class="task-info">
                            {% if session.edit_task %}
                            <form action="{{ url_for('edit_task') }}" method="POST">
                                <input type="hidden" name="task_id" value="{{ id }}">
                                <input type="text" name="new_task" class="edit-task" value="{{ task }}">
                            </form>
                            {% else %}
                            <form action="{{ url_for('edit_task') }}" method="POST">
                                <p>
                                    <button type="submit">{{ task }}</button>
                                </p>
                            </form>
                            {% endif %}
                        </div>
                        <div class="button-container">
                            <form action="{{ url_for('complete_task') }}" method="POST">
                                <input type="hidden" name="task" value="{{ task }}">
                                <input type="submit" class="complete-task" value="✔">
                            </form>
                            <form action="{{ url_for('delete_task') }}" method="POST">
                                <input type="hidden" name="task" value="{{ task }}">
                                <input type="submit" class="delete-task" value="X">
                            </form>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if habits_for_day %}
            <ul class="habits">
                {% for habit in habits_for_day %}
                <li class="task">
                    <div class="task-container">
                        <div class="task-info">
                            {% if habit.is_complete_for_date(session.select_date) %}
                            <p class="habit-complete">{{ habit.habit }}</p>
                            {% else %}
                            <p class="habit-not-complete">{{ habit.habit }}</p>
                            {% endif %}
                        </div>
                        <div class="button-container">
                            <form action="{{ url_for('complete_habit') }}" method="POST">
                                <input type="hidden" name="habit" value="{{ habit.id }}">
                                <input type="hidden" name="date" value="{{ session.select_date }}">
                                <input type="submit" class="complete-task" value="✔">
                            </form>
                            <form action="{{ url_for('delete_habit') }}" method="POST">
                                <input type="hidden" name="habit" value="{{ habit.id }}">
                                <input type="submit" class="delete-task" value="X">
                            </form>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No habits scheduled for this day.</p>
            {% endif %}
            <div class="add-task">
                <form action="{{ url_for('new_task') }}" method="POST">
                    <input type="text" name="task" placeholder="New Task">
                </form>
            </div>
            <div class="add-habit">
                <form action="{{ url_for('new_habit') }}" method="POST">
                    <div class="add-habit-div">
                        <input type="text" name="habit" class="add-habit" placeholder="New Habit">
                        <label for="frequency"></label>
                        <select name="frequency" id="frequency">
                            <option value="daily">Daily</option>
                            <option value="alternate">Alternate</option>
                            <option value="tridum">Tridum</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                        </select>
                    </div>
                    <div class="habits-confirm-button">
                        <input type="submit" value="Enter">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block completed %}
<div class="todo-container">
    <div class="todo-title">
        <form action="{{ url_for('collapse_todo_complete') }}" method="POST">
            <h2>
                <button type="submit">Completed
                    {% if session.collapse_todo_complete %}
                    <p>↲</p>
                    {% else %}
                    <p>↴</p>
                    {% endif %}
                </button>
            </h2>
        </form>
    </div>
    {% if session.collapse_todo_complete %}
    <div class="todo_list" style="display: none;">
        {% else %}
        <div class="todo_list">
            {% endif %}
            {% if not todo_complete %}
            <p>You have not completed any tasks yet.</p>
            {% else %}
            <ul>
                {% for task in todo_complete %}
                <li class="task">
                    <div class="task-container">
                        <p>{{ todo_complete[task] }}</p>
                        <form action="{{ url_for('delete_complete_task') }}" method="POST">
                            <input type="hidden" name="task" value="{{ todo_complete[task] }}">
                            <input type="submit" class="delete-task" value="X">
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block job_applications %}
<div class="job-container">
    <div class="todo-title">
        <form action="{{ url_for('collapse_job_applications') }}" method="POST">
            <h2>
                <button type="submit">Job Applications
                    {% if session.collapse_job_applications %}
                    <p>↲</p>
                    {% else %}
                    <p>↴</p>
                    {% endif %}
                </button>
            </h2>
        </form>
    </div>
    {% if session.collapse_job_applications %}
    <div class="todo_list" style="display: none;">
        {% else %}
        <div class="todo_list">
            {% endif %}
            {% if not job_list %}
            <p>You have no job applications yet, add one to get started.</p>
            {% else %}
            <table class="job" style="border-collapse: collapse;">
                <tr class="table-headers">
                    <th>Company</th>
                    <th>Role</th>
                    <th>Link</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th colspan="2">Status</th>
                </tr>
                {% for id, job in job_list.items() %}
                <tr class="table-info">
                    <td style="font-weight: bold;">{{ job['company']|title }}</td>
                    <td>{{ job['role']|title }}</td>
                    <td>
                        {% if job['link'] %}
                        <a href="{{ job['link'] }}">{{ job['company']|title }}</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>{{ job['location']|title }}</td>
                    <td>{{ job['date']|title }}</td>
                    <td>
                        {% if not session.edit_job_status %}
                        <form action="{{ url_for('edit_job_status') }}" method="POST">
                            <input type="hidden" name="job_id" value="{{ id }}">
                            <input type="hidden" name="new_status" value="{{ job['status'] }}"
                                   placeholder="Enter Status">
                            <button type="submit">
                                {{ job['status']|title }}
                            </button>
                        </form>
                        {% else %}
                        <form action="{{ url_for('add_status') }}" method="POST">
                            <label for="status"></label>
                            <select name="status" id="status-{{ id }}">
                                <option value="no answer">No answer</option>
                                <option value="rejected">Rejected</option>
                                <option value="assessment">Assessment</option>
                                <option value="interview">Interview</option>
                                <option value="accepted">Accepted</option>
                            </select>
                            <input type="hidden" name="job_id" value="{{ id }}">
                            <input type="submit" value="Enter">
                        </form>
                        {% endif %}
                    </td>
                    <td class="delete-job">
                        <form action="{{ url_for('delete_job') }}" method="POST">
                            <input type="hidden" name="job_id" value="{{ id }}">
                            <input type="submit" class="delete-task" value="X">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            <form class="new-job" action="{{ url_for('new_job') }}" method="POST">
                <table class="new-job">
                    <tr class="table-headers">
                        <th><label for="company">Company</label></th>
                        <th><label for="role">Role</label></th>
                        <th><label for="link">Link</label></th>
                        <th><label for="location">Location</label></th>
                        <th><label for="date">Date</label></th>
                    </tr>
                    <tr class="table-info">
                        <td>
                            <input type="text" id="company" name="company" class="add-task" placeholder="Add Company">
                        </td>
                        <td>
                            <input type="text" id="role" name="role" class="add-task" placeholder="Add Role">
                        </td>
                        <td>
                            <input type="text" id="link" name="link" class="add-task" placeholder="Add Link">
                        </td>
                        <td>
                            <input type="text" id="location" name="location" class="add-task"
                                   placeholder="Add Location">
                        </td>
                        <td>
                            <input type="text" id="date" name="date" class="add-task" placeholder="Add Date">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="new-job-button">
                            <input type="submit" value="Add">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
</body>
</html>