<!-- ./web_app/templates/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
</head>
<body>
<div class="header">
    <div class="dropdown">
        <button class="dropdown-button">Menu</button>
        <div class="dropdown-menu">
            <a href="#">Job Applications</a>
            <a href="#">To Do</a>
            <a href="#">Habits</a>
            <a href="#">Info</a>
        </div>
    </div>
    <div class="title">
        <h1>Keep Up</h1>
    </div>
    <div class="sign-in">
        <form>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
<div class="calendar-container">
    <div class="calendar-header-container">
        {% if session.month_display %}
        <div class="calendar-header">
            <form action="{{ url_for('prev') }}" method="POST">
                <button type="submit">&lt</button>
            </form>
            <p>{{ month_name }} {{ year }}</p>
            <form action="{{ url_for('next') }}" METHOD="POST">
                <button type="submit">&gt</button>
            </form>
        </div>
        {% else %}
        <div class="calendar-header">
            <form action="{{ url_for('prev') }}" method="POST">
                <button type="submit">&lt</button>
            </form>
            <p>{{ year }}</p>
            <form action="{{ url_for('next') }}" METHOD="POST">
                <button type="submit">&gt</button>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="calendar">
        <div class="day-name">
            <p>Mon</p>
            <p>Tue</p>
            <p>Wed</p>
            <p>Thu</p>
            <p>Fri</p>
            <p>Sat</p>
            <p>Sun</p>
        </div>
        {% if session.month_display %}
        <div class="calendar-body-month" style="grid-template-columns: repeat({{ num_of_weeks }}, 30px);">
            {% for weekday_row in month_layout %}
            {% for day in weekday_row %}
            {% if day == 0 %}
            <div class="hidden">
                <div class="hidden-day"></div>
            </div>
            {% else %}
            <div class="visible">
                {% if current_day == day and current_month == month_num and current_year == year %}
                <div class="current-day-cell">
                    <div class="day-info-div">
                        <span class="day-info" style="border-radius: 5px;">{{ day }}/{{ month_num }}/{{ year }}</span>
                    </div>
                </div>
                {% else %}
                <div class="day-cell">
                    <div class="day-info-div">
                        <span class="day-info" style="border-radius: 5px;">{{ day }}/{{ month_num }}/{{ year }}</span>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
        {% else %}
        <div class="calendar-body-year">
            {% for layout_month in year_layout %}
            {% set month_index = loop.index %}
            <div class="year-month">
                <div class="year-month-grid" style="grid-template-columns: repeat({{ layout_month[0]|length }}, 15px);">
                    {% for weekday_row in layout_month %}
                    {% for day in weekday_row %}
                    {% if day == 0 %}
                    <div class="hidden-year">
                        <div class="hidden-day-year"></div>
                    </div>
                    {% else %}
                    <div class="visible-year">
                        {% if current_day == day and current_month == month_index and current_year == year %}
                        <div class="current-day-cell-year">
                            <div class="day-info-div">
                            <span class="day-info"
                                  style="border-radius: 2px;">{{ day }}/{{ month_index }}/{{ year }}</span>
                            </div>
                        </div>
                        {% else %}
                        <div class="day-cell-year">
                            <div class="day-info-div">
                            <span class="day-info"
                                  style="border-radius: 2px;">{{ day }}/{{ month_index }}/{{ year }}</span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <div class="month-name" style="width: {{ (layout_month[0]|length * 15) - 5 }}px">
                        {% set months_nums = {
                        1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr',
                        5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug',
                        9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'
                        }
                        %}
                        <p>{{ months_nums[month_index] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="calendar-header-container">
        {% if session.month_display %}
        <form action="{{ url_for('year_display') }}" method="POST">
            <div class="month-year">
                <button type="submit">Year</button>
            </div>
        </form>
        {% else %}
        <form action="{{ url_for('month_display') }}" method="POST">
            <div class="month-year">
                <button type="submit">Month</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
<div class="todo-container">
    <div class="todo-title">
        <h2>Todo List</h2>
    </div>
    <div class="todo_list">
        {% if not todo_list %}
        <p>You have no tasks, add one to get started.</p>
        <form action="{{ url_for('new_task') }}" method="POST">
            <input type="text" name="task" class="add-task" placeholder="New Task">
        </form>
        {% else %}
        <ul>
            {% for task in todo_list %}
            <li class="task">
                <div class="task-container">
                    <p>{{ todo_list[task] }}</p>
                    <div class="button-container">
                        <form action="{{ url_for('complete_task') }}" method="POST">
                            <input type="hidden" name="task" value="{{ todo_list[task] }}">
                            <input type="submit" class="complete-task" value="✔">
                        </form>
                        <form action="{{ url_for('delete_task') }}" method="POST">
                            <input type="hidden" name="task" value="{{ todo_list[task] }}">
                            <input type="submit" class="delete-task" value="X">
                        </form>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <form action="{{ url_for('new_task') }}" method="POST">
            <input type="text" name="task" class="add-task" placeholder="New Task">
        </form>
        {% endif %}
    </div>
</div>
<div class="todo-container">
    <div class="todo-title">
        <h2>Completed</h2>
    </div>
    <div class="todo_list">
        {% if not todo_complete %}
        <p>You have not completed any tasks yet.</p>
        {% else %}
        <ul>
            {% for task in todo_complete %}
            <li class="task">
                <div class="task-container">
                    <p>{{ todo_complete[task] }}</p>
                    <form action="{{ url_for('delete_complete_task') }}" method="POST">
                        <input type="hidden" name="task" value="{{ todo_complete[task] }}">
                        <input type="submit" class="delete-task" value="X">
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
</body>
</html>