/* ./web_app/static/styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', 'Monaco', 'Lucida Console';
}

.header {
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown {
    background-color: rgba(75, 75, 75, 0.4);
    width: 10vw;
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.dropdown button {
    all: unset;
}

.dropdown-menu {
    background-color: rgba(50, 50, 50, 0.9);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 150px;
    text-align: left;
    padding: 10px 5px;
    margin-top: 15px;
    margin-left: -10px;
    border-radius: 5px;
    width: 20vw;
    transition: opacity 0.4s ease 0.5s, visibility 0.4s ease 0.5s;
}

.dropdown:hover {
    background-color: rgba(50, 50, 50, 0.9);
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    pointer-events: auto;
    transition-delay: 0s;
}

.dropdown a {
    all: unset;
    color: rgb(255, 255, 255);
    padding: 5px 0;
}

.dropdown-menu a:hover {
    background-color: rgba(100, 100, 100, 0.4);
}

.title {
    background-color: rgba(50, 50, 50, 0.4);
    width: 80vw;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.sign-in {
    background-color: rgba(75, 75, 75, 0.4);
    width: 10vw;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sign-in button {
    all: unset;
}

.sign-in:hover {
    background-color: rgba(100, 100, 100, 0.4);
}

.calendar-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

.calendar-header-container {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.calendar-header {
    color: rgb(255, 255, 255);
    background-color: rgba(150, 150, 150, 0.2);
    display: flex;
    align-items: center;
    width: 250px;
    font-weight: bold;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.calendar-header button,
.calendar-header-container button {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: transparent;
    width: 25px;
    border: none;
    cursor: pointer;
}

.calendar {
    background-color: rgba(150, 150, 150, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.day-name {
    grid-template-rows: repeat(7, 30px);
    margin: 10px;
    font-size: 18px;
}

.day-name p {
    color: rgb(255, 255, 255);
    height: 25px;
    margin: 5px 0;
}

.calendar-body-month {
    display: grid;
    padding: 30px 0;
    grid-template-rows: repeat(7, 30px);
}

.hidden-day {
    height: 25px;
    width: 25px;
    border: none;
}

.current-day-cell {
    height: 25px;
    width: 25px;
    border: 1px solid rgb(255, 20, 57);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.day-cell {
    height: 25px;
    width: 25px;
    border: 1px solid rgb(57, 255, 20);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.day-cell,
.current-day-cell {
    position: relative;
    overflow: visible;
}

.day-cell:hover .day-info,
.current-day-cell:hover .day-info {
    visibility: visible;
}

.day-cell:hover,
.current-day-cell:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.calendar-body-year {
    max-width: 80vw;
    padding: 30px 0;
    overflow-y: visible;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}

.year-month-grid {
    display: grid;
    grid-template-rows: repeat(7, 30px);
}

.hidden-day-year {
    height: 25px;
    width: 8px;
    border: none;
}

.current-day-cell-year {
    height: 25px;
    width: 10px;
    border: 1px solid rgb(255, 20, 57);
    border-radius: 2px;
    cursor: pointer;
    color: white;
}

.day-cell-year {
    height: 25px;
    width: 10px;
    border: 1px solid rgb(57, 255, 20);
    border-radius: 2px;
    cursor: pointer;
    color: white;
}

.day-cell-year,
.current-day-cell-year {
    position: relative;
    overflow: visible;
}

.month-name {
    display: flex;
    justify-content: center;
    color: white;
    align-text: center;
    margin-bottom: -20px;
}

.day-info {
    visibility: hidden;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    position: absolute;
    width: 85px;
    padding: 10px 0;
    height: 25px;
    bottom: 126%;
    left: -5%;
    z-index: 9999;
    font-size: 14px;
}

.day-cell-year:hover .day-info,
.current-day-cell-year:hover .day-info {
    visibility: visible;
}

.day-cell-year:hover,
.current-day-cell-year:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.month-year {
    color: rgb(255, 255, 255);
    background-color: rgba(150, 150, 150, 0.2);
    display: flex;
    text-align: center;
    justify-content: center;
    width: 250px;
    border-radius: 5px;
    padding: 10px;
}

.month-year button {
    all: unset;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.month-year:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.todo-container {
    width: 90vw;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-title {
    background-color: rgba(50, 50, 50, .7);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}

.todo_list {
    color:rgb(255, 255, 255);
    background-color: rgba(50, 50, 50, .4);
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px 0;
    gap: 15px;
}

.todo_list p {
    padding: 0 5px;
}

.todo_list input[type=text] {
    all: unset;
    background-color: rgba(100, 100, 100, .2);
    height: 25px;
    width: 95%;
    border-radius: 5px;
    cursor: cursor;
    margin-left: 15px;
    padding-left: 5px;
}

.task-container {
    display: flex;
}

.task-container p {
    width: 90%;
    padding: 5px 0;
}

.task-container form {
    all: unset;
    width: 10%;
    padding: 5px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.delete-task, .complete-task {
    all: unset;
    background-color: rgba(150, 150, 150, .2);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 40px;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
}

.delete-task {
    color: rgb(255, 20, 57);
}

.complete-task {
    color: rgb(57, 255, 20);
}

.delete-task:hover, .complete-task:hover {
    background-color: rgba(100, 100, 100, .2);
}

.task {
    color: rgb(255, 255, 255);
    padding: 0 10px;
}
